.parameters {
  width: 100%;

  .required:after {
    content: ' *';
    color: red;
  }

  th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid darken($color-lightgray, 5%);
  }

  tr:nth-child(even) td {
    background: $color-lightgray;
  }

  td, th {
    padding: 10px;
  }
}